.centralizar-conteudo {
  display: flex;
  flex-direction: column; /* Alinha os itens um abaixo do outro */
  align-items: center;    /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  min-height: 100vh;      /* Faz o container ocupar toda a altura da tela */
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #191919;
  color: #cdcdcd;
}