.centralizar-conteudo {
  display: flex;
  align-items: center;    /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  min-height: 10px;      /* Faz o container ocupar toda a altura da tela */
  text-align: center;
  flex-direction: column;
}
.page {
    height: 100vh;
    margin: 1;
}
.center { 
    background-color: #414141;
    border-radius: 10px;
}

.formulario {
    padding: 50px 20px 50px 20px;
}
.formulario button {
  background-color: #039a81;
  border: none;
  padding: 5px 55px 5px 55px;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.formulario input {
  padding: 7px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}
.formulario a {
  color: #039a81;
  text-decoration: none;
  font-size: 14px;
}
.fromulario h2{
 color:  #039a81;
}

.listarProdutos {
  border: 1px solid #039a81;
  border-radius: 10px;
  position: relative;
  right: 0;
  top: 0;
}
