nav {
  display: flex;
  align-items: right;
  justify-content: space-between;
  background-color: #039a81;
  width: 100%;
}
.centralizar-conteudo {
  display: flex;
  align-items: center;    /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  min-height: 10px;      /* Faz o container ocupar toda a altura da tela */
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #191919;
  color: #cdcdcd;
}

.btn-link {
  background: none;
  border: none;
  font-size: 16px;
  margin: 0 10px;

}
.btn-link a {
  color: #cdcdcd;
  text-decoration: none;
}
